@import '../../../common.styl'

.screenWrapper
  width 80%
  margin 0 auto

.screen
  padding 2rem
  background white
  coolScrollbar()
  display flex
  flex-direction column
  gap .5rem


.items
  display flex
  flex-direction column
  gap 1rem
